 
 *{
    padding: 0;
    margin: 0;
 }
 body{
    background-color: rgb(236, 181, 161);
 }
 .nav-bar{

    display: flex;
    height: 100px;
    width: 1400px;
    background-color: pink;
 }
.nav-bar img{
    height: 150px;
    width: 150px;
    margin-left: 20px;
}
.nav-bar button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color: black;
    margin-top: 40px;
    margin-left: 50px;
    background-color: pink;
    transition: all 0.5s ease;
     
}
.nav-bar button:hover{
    background-color: rgb(128, 128, 234);
}



 ul{
    list-style: none;
    background-color: pink;
 }
 ul li{
    display: inline-block;
    position: relative;
 }
 ul li a{

    text-align: center;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
    font-size: 25px;
 }

 ul li ul.dropdown li{
    display: block;
 }
 ul li ul.dropdown{
    width: 100%;
    background-color: pink;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 5px;
 }

 ul li a:hover{
    background-color: pink;
 }
 ul li:hover ul.dropdown{
    display: block;
 }






 



.nav-bar img{
    height: 100px;
    width: 100px;

}
.nav-bar h1:hover{
    color: black;
}
.nav-bar .nav-btn{
    margin-right: 10px;
    margin-top: 20px;
   
}
.nav-btn button{
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    background-color: transparent;
    
    transition: all 0.5s ease;
}
.nav-btn a:hover{
    color: white;
}
.nav-btn button:hover{
    background-color: rgb(87, 141, 202);
    color:white;
}

/*----------------------------------------------------------------*/


.who-we-are{
    margin-top: 70px;
}
.who-we-are h1{
    font-size: 60px;
    margin-top: 30px;
    text-align: center;
    color: magenta;
}
.who-we-are p{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: brown;
}
.who-we-are img{
    height: 600px;
    width: 1300px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
}
.our-vision-icon1{
    display: flex;
    justify-content: space-between;
}
.our-vision{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.our-vision1{
    margin-left: 30px;
}
.our-vision1 h3{
    margin-top: 30px;
    font-size: 30px;
}
.our-vision1 h1{
    margin-top: 30px;
    font-size: 60px;
}
.our-vision1 p{
    margin-top: 30px;
    font-size: 20px;
}
.our-vision1 ion-icon{
    margin-top: 30px;
    font-size: 30px;
}


.our-vision-image img{
    height: 400px;
    width: 500px;
    border-radius: 20px;
}
.expierence{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.expierence1 h1{
    font-size: 90px;
    font-weight: 100;
    color: pink;
}
.expierence1 h2{
    font-size: 40px;
    margin-top: -70px;
}
.our-history{
    margin-top: 90px;
}
.our-history h3{
    font-size: 30px;
    text-align: center;
}
.our-history h1{
    margin-top: 30px;
    font-size: 70px;
    text-align: center;
}
.our-history p{
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.our-history img{
    height: 600px;
    width: 1200px;
    margin-left: 60px;
    border-radius: 30px;
    margin-top: 50px;
}







.leadership{
    margin-top: 50px;
}
.leadership h3{
    text-align: center;
    font-size: 25px;
    color: chocolate;
    margin-top: 30px;
}
.leadership h1{
    text-align: center;
    font-size: 50px;
    color: yellowgreen;
}
.leadership p{
    text-align: center;
    font-size: 25px;
    color: lightseagreen;
}

.leadership-images{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.leadership-images1 img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
}

.leadership-images1 h2{
    margin-left: 60px;
    font-size: 40px;
    color: blue;
}
.leadership-images1 p{
    margin-left: 30px;
    font-size: 22px;
}
.leadership-images1 ion-icon{
    font-size: 35px;
    margin-left: 20px;
    color: magenta;

}
.leadership-images2 img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
}
.leadership-images2 h2{
    margin-left: 60px;
    font-size: 40px;
    color:blue;
}
.leadership-images2 p{
    margin-left: 30px;
    font-size: 22px;
}
.leadership-images2 ion-icon{
    font-size: 35px;
    margin-left: 20px;
    color:magenta;
    margin-top: 30px;

}
.leadership-images3 img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
}
.leadership-images3 h2{
    margin-left: 60px;
    font-size: 40px;
    color: blue;
}
.leadership-images3 p{
    margin-left: 30px;
    font-size: 22px;
}
.leadership-images3 ion-icon{
    font-size: 35px;
    margin-left: 20px;
    color:magenta;
    margin-top: 30px;

}










.wrapper {
    background-color: pink;
    position: absolute;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    display: flex;
    margin-top: 3500px;
}

.testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
}

.wrapper button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: red;
    box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
}

button#next {
    right: -1.1em;
}

button#prev {
    left: -1.1em;
}

.testimonial-container p {
    color:blue;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
}

.testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    /* border-radius: 50%; */
    width: 6.6em;
}

.testimonial-container h3 {
    color: red;
    font-size: 1em;
    text-align: center;
}

.testimonial-container h6 {
    color: #0943e2;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
}




.blog-Image2{
    margin-top: 550px;
    display: flex;
    justify-content: space-between;
}
.blog-Image2 .heading h2{
    margin-left: 300px;
    color: red;
    margin-top: 60px;
}
.blog-Image2 .heading h1{
    margin-left: 250px;
    margin-top: 40px;
    color: purple;
}
.blog-Image2 .heading h3{
    margin-left: 150px;
    margin-top: 40px;
    color: cadetblue;
}
.blog-Image2 .heading button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(230, 223, 223);
    transition: all 0.5s ease;
    margin-left: 300px;
    margin-top: 40px;
    
}
.blog-Image2 .heading button:hover{
    background-color: gray;
}
.blog-Image2 .blog-Images2 img{
    height: 400px;
    width: 400px;
    border-radius: 20px;

}






.footer{
    height: 600px;
    width: 1400px;
     background-color: rgb(136, 136, 237);
     margin-top: 100px;
     color: white;
}


.navbar2{
    display: flex;
    margin-top: 100px;
    /* margin-left: 50px; */
    /* background-color: rgb(133, 133, 227); */
    /* height: 500px;
    width: 1400px; */
}

 
.navbar2 .contact2{
    margin-left: 100px;
}
.navbar2 .contact3{
    margin-left: 100px;
}
.navbar2 .contact4{
    margin-left: 100px;
}
.navbar2 .contact4 button{
     margin-top: 20px; 
     font-size: 20px;
    height: 50px;
    width: 350px;
    border-radius: 20px;
    color: black;
    background-color: rgb(110, 110, 232);
    transition: all 0.5s ease;
}
.navbar2 .contact4 button:hover{
    background-color: peachpuff;
}
.navbar2 .contact4 ion-icon{
    
    font-size: 30px;
    margin-left: 20px;
}




.navbar2 h1{
    margin-top: 50px;
    
}
.navbar2 h2{
    margin-top: 10px;
}
.human-consult-image{
    text-align: center;
    margin-top: 50px;
}
.human-consult-image img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}


