*{
    margin: 0;
    padding: 0;

}
.nav-bar{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 99%;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(45deg,rgb(8, 86, 150),rgb(236, 90, 171));
   
    
}
.nav-bar a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: all o.5s ease;
}
.nav-bar a:hover{
    color:black;
}

.nav-bar ul{
    display: flex;
    
}
.nav-bar li{
    list-style: none;
    padding: 20px;
    margin-top: 10px;
    transition: all 0.5s ease;
}



.nav-bar ul li ul .drop-down li{
    display: block;
    transition: all 0.5s ease;
}
ul li ul.drop-down  {  
    background: linear-gradient(45deg,rgb(8, 86, 150),rgb(236, 90, 171));
    margin-top: 50px;
    width: 150px;
    position: absolute;
    z-index: 999;
    display: none; 
    /* margin-top: 10px; */
    border-radius: 10px;
    
    transition: all 0.5s ease;
   
}
ul li:hover ul.drop-down {
    display: block;
   
}

.drop-down li a{
    transition: all 0.5s ease;
}
.drop-down li a:hover{
   color: white;
}
/* .nav-bar h1{
    margin-left: 30px;
    margin-top: 20px;
    color: white;
    transition: all 0.5s ease;
} */



.nav-bar img{
    height: 100px;
    width: 100px;

}
.nav-bar h1:hover{
    color: black;
}
.nav-bar .nav-btn{
    margin-right: 10px;
    margin-top: 20px;
   
}
.nav-btn button{
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    background-color: transparent;
    
    transition: all 0.5s ease;
}
.nav-btn a:hover{
    color: white;
}
.nav-btn button:hover{
    background-color: rgb(87, 141, 202);
    color:white;
}

.first{
    background-color: rgb(235, 169, 48);
    height: 750px;
    border-radius: 20px;
    margin-top: 100px;

}
.fir h1{
    padding-left: 400px;
    padding-top: 200px;
    font-size: 50px;
}
.par p{
    padding-top: 30px;
    padding-left: 500px;
    font-size: 25px;
}
.banner img{
    padding-top: 60px;
    max-width: 100%;
}
.built h1{
    padding-left: 450px;
    padding-top: 80px;
    font-size: 50px;
}
.par1 p{
    padding-left: 480px;
    padding-top: 20px;
    font-size: 18px;
    
}
.hom img{
    margin-top: 80px;
    width: 28%;
    margin-left: 10px;
    margin-left: 25px;
    display: flex;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 30px;
    
}
.hom2 img{
    display: flex;
    margin-left: 490px;
    margin-top: -480px;
    width: 28%;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 30px;
    
}
.hom3 img{
    margin-left: 930px;
    width: 28%;
    padding: 0 4px;
    margin-top: -520px;
    cursor: pointer;
    border-radius: 30px;
    height: 490px;
    
}
.home h1{
    margin-left: 120px;
    margin-top: 30px;
    width: 10%;
}

.home2 h1{
    margin-left: 620px;
    width: 10%; 
    margin-top: -30px;
}

.home3 h1{
    width: 10%;
    margin-left: 1050px;
    margin-top: -40px;
}

.ultra h1{
    margin-top: 140px;
    margin-left: 500px;
    font-size: 50px;
    width: 30%;
    
}
.ultra2 p{
    margin-left: 400px;
    margin-top: 30px;
    font-size: 20px;
}

.box{
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-top: 100px;
    margin-left: 150px;
}
.line{
    width: 95%;
    height: 20px;
    background-color: green;
    transform-origin: left;
}

.box2{
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-top: -10px;
    margin-left: 800px;
}
.line2{
    width: 92%;
    height: 20px;
    background-color: green;
    transform-origin: left;
}

.box3{
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-top: 120px;
    margin-left: 150px;
}
.line3{
    width: 97%;
    height: 20px;
    background-color: green;
    transform-origin: left;
}

.box4{
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-top: -22px;
    margin-left: 800px;
}
.line4{
    width: 88%;
    height: 20px;
    background-color: green;
    transform-origin: left;
}
.key{
    background-color: blue;
    height: 600px;
    margin-top: 130px;
}

.key h1{
    font-size: 50px;
   padding-left: 520px;
   padding-top: 150px;
    
}


.innerpages{
    margin-top: 100px;
     
}
.innerpages h1{
    text-align: center;
    font-size: 50px;
    color: rgb(234, 16, 234);
}
.innerpages p{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: brown;
}

.innerpage-Images1{
    display: flex;
}

.innerpage-Images1  .innerpage-images1 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images1  .innerpage-images1 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images1  .innerpage-images1 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images1  .innerpage-images1 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images1  .innerpage-images2 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images1  .innerpage-images2 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images1  .innerpage-images2 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images1  .innerpage-images2 h1:hover{
    color: rgb(221, 8, 43);
}


.innerpage-Images1  .innerpage-images3 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images1  .innerpage-images3 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images1  .innerpage-images3 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images1  .innerpage-images3 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images2{
    display: flex;
    margin-top: 40px;
}
.innerpage-Images2  .innerpage-images4 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images2  .innerpage-images4 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images2  .innerpage-images4 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images2  .innerpage-images4 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images2  .innerpage-images5 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images2  .innerpage-images5 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images2  .innerpage-images5 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images2  .innerpage-images5 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images2  .innerpage-images6 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images2  .innerpage-images6 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images2  .innerpage-images6 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images2  .innerpage-images6 h1:hover{
    color: rgb(221, 8, 43);
}


.innerpage-Images3{
    display: flex;
    margin-top: 40px;
}
.innerpage-Images3  .innerpage-images7 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images3  .innerpage-images7 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images3  .innerpage-images7 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images3  .innerpage-images7 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images3  .innerpage-images8 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images3  .innerpage-images8 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images3  .innerpage-images8 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images3  .innerpage-images8 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images3  .innerpage-images9 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images3  .innerpage-images9 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images3  .innerpage-images9 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images3  .innerpage-images9 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images4{
    display: flex;
    margin-top: 40px;
}
.innerpage-Images4  .innerpage-images10 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images4  .innerpage-images10 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images4  .innerpage-images10 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images4  .innerpage-images10 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images4  .innerpage-images11 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images4  .innerpage-images11 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images4  .innerpage-images11 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images4  .innerpage-images11 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images4  .innerpage-images12 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images4  .innerpage-images12 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images4  .innerpage-images12 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images4  .innerpage-images12 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images5{
    display: flex;
    margin-top: 40px;
}
.innerpage-Images5  .innerpage-images13 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images5  .innerpage-images13 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images5  .innerpage-images13 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images5  .innerpage-images13 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images5  .innerpage-images14 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images5  .innerpage-images14 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images5  .innerpage-images14 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images5  .innerpage-images14 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images5  .innerpage-images15 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images5  .innerpage-images15 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images5  .innerpage-images15 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images5  .innerpage-images15 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images6{
    display: flex;
    margin-top: 40px;
}
.innerpage-Images6  .innerpage-images16 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images6  .innerpage-images16 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images6  .innerpage-images16 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images6  .innerpage-images16 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images6  .innerpage-images17 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images6  .innerpage-images17 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images6  .innerpage-images17 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images6  .innerpage-images17 h1:hover{
    color: rgb(221, 8, 43);
}

.innerpage-Images6  .innerpage-images18 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images6  .innerpage-images18 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images6  .innerpage-images18 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images6  .innerpage-images18 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images7{
    display: flex;
    margin-top: 40px;
}
.innerpage-Images7  .innerpage-images19 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images7  .innerpage-images19 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images7  .innerpage-images19 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images7  .innerpage-images19 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images7  .innerpage-images20 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images7  .innerpage-images20 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images7  .innerpage-images20 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images7  .innerpage-images20 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images7  .innerpage-images21 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images7  .innerpage-images21 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images7  .innerpage-images21 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images7  .innerpage-image21 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images8{
    display: flex;
    margin-top: 40px;
}
.innerpage-Images8  .innerpage-images22 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images8  .innerpage-images22 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images8  .innerpage-images22 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images8  .innerpage-images22 h1:hover{
    color: rgb(221, 8, 43);
}
.innerpage-Images8  .innerpage-images23 img{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 60px;
}
.innerpage-Images8  .innerpage-images23 img:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    
}

.innerpage-Images8  .innerpage-images23 h1{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(184, 135, 230);
}
.innerpage-Images8  .innerpage-images23 h1:hover{
    color: rgb(221, 8, 43);
}






 

 






.navbar4{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    background-color: orangered;
}


.navbar4 .navbar-image img{
    height: 200px;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.navbar4 .navbar-heading h1{
    margin-top: 50px;
    font-size: 60px;
    
}
.navbar4 .navbar-heading p{
    margin-top: 20px;
    font-size: 30px;
}
.navbar4 .navbar-button button{
    height: 50px;
    width: 200px;
    margin-top: 60px;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(115, 115, 225);
    transition: all 0.5s ease;
}
.navbar4 .navbar-button button:hover{
    background-color: pink;
}





.footer{
    height: 600px;
    width: 1400px;
     background-color: rgb(133, 133, 227);;
}


.navbar2{
    display: flex;
    margin-top: 100px;
    /* margin-left: 50px; */
    /* background-color: rgb(133, 133, 227); */
    /* height: 500px;
    width: 1400px; */
}

 
.navbar2 .contact2{
    margin-left: 100px;
}
.navbar2 .contact3{
    margin-left: 100px;
}
.navbar2 .contact4{
    margin-left: 100px;
}
.navbar2 .contact4 button{
     margin-top: 20px; 
     font-size: 20px;
    height: 50px;
    width: 350px;
    border-radius: 20px;
    color: black;
    background-color: rgb(110, 110, 232);
    transition: all 0.5s ease;
}
.navbar2 .contact4 button:hover{
    background-color: peachpuff;
}
.navbar2 .contact4 ion-icon{
    
    font-size: 30px;
    margin-left: 20px;
}




.navbar2 h1{
    margin-top: 50px;
    
}
.navbar2 h2{
    margin-top: 10px;
}
.human-consult-image{
    text-align: center;
    margin-top: 50px;
}
.human-consult-image img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}


